RestaurantServer/xml-resources/web-service-references/MenuWS/wsdl/localhost_8080/RestaurantWebService/MenuWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.restaurant.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.restaurant.com/" name="MenuWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.restaurant.com/" schemaLocation="http://localhost:8080/RestaurantWebService/MenuWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getMenuFiltered">
<part name="parameters" element="tns:getMenuFiltered"/>
</message>
<message name="getMenuFilteredResponse">
<part name="parameters" element="tns:getMenuFilteredResponse"/>
</message>
<message name="getAllMenus">
<part name="parameters" element="tns:getAllMenus"/>
</message>
<message name="getAllMenusResponse">
<part name="parameters" element="tns:getAllMenusResponse"/>
</message>
<portType name="MenuWS">
<operation name="hello">
<input wsam:Action="http://services.restaurant.com/MenuWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.restaurant.com/MenuWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getMenuFiltered">
<input wsam:Action="http://services.restaurant.com/MenuWS/getMenuFilteredRequest" message="tns:getMenuFiltered"/>
<output wsam:Action="http://services.restaurant.com/MenuWS/getMenuFilteredResponse" message="tns:getMenuFilteredResponse"/>
</operation>
<operation name="getAllMenus">
<input wsam:Action="http://services.restaurant.com/MenuWS/getAllMenusRequest" message="tns:getAllMenus"/>
<output wsam:Action="http://services.restaurant.com/MenuWS/getAllMenusResponse" message="tns:getAllMenusResponse"/>
</operation>
</portType>
<binding name="MenuWSPortBinding" type="tns:MenuWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMenuFiltered">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMenus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MenuWS">
<port name="MenuWSPort" binding="tns:MenuWSPortBinding">
<soap:address location="http://localhost:8080/RestaurantWebService/MenuWS"/>
</port>
</service>
</definitions>