RestaurantServer/src/META-INF/wsdl/localhost_8080/RestaurantWebService/AccountWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.restaurant.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.restaurant.com/" name="AccountWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.restaurant.com/" schemaLocation="http://localhost:8080/RestaurantWebService/AccountWS?xsd=1"/>
</xsd:schema>
</types>
<message name="updateProfile">
<part name="parameters" element="tns:updateProfile"/>
</message>
<message name="updateProfileResponse">
<part name="parameters" element="tns:updateProfileResponse"/>
</message>
<message name="getDetails">
<part name="parameters" element="tns:getDetails"/>
</message>
<message name="getDetailsResponse">
<part name="parameters" element="tns:getDetailsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="registerDB">
<part name="parameters" element="tns:registerDB"/>
</message>
<message name="registerDBResponse">
<part name="parameters" element="tns:registerDBResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<portType name="AccountWS">
<operation name="updateProfile">
<input wsam:Action="http://services.restaurant.com/AccountWS/updateProfileRequest" message="tns:updateProfile"/>
<output wsam:Action="http://services.restaurant.com/AccountWS/updateProfileResponse" message="tns:updateProfileResponse"/>
</operation>
<operation name="getDetails">
<input wsam:Action="http://services.restaurant.com/AccountWS/getDetailsRequest" message="tns:getDetails"/>
<output wsam:Action="http://services.restaurant.com/AccountWS/getDetailsResponse" message="tns:getDetailsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.restaurant.com/AccountWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.restaurant.com/AccountWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="registerDB">
<input wsam:Action="http://services.restaurant.com/AccountWS/registerDBRequest" message="tns:registerDB"/>
<output wsam:Action="http://services.restaurant.com/AccountWS/registerDBResponse" message="tns:registerDBResponse"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://services.restaurant.com/AccountWS/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://services.restaurant.com/AccountWS/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
</portType>
<binding name="AccountWSPortBinding" type="tns:AccountWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountWS">
<port name="AccountWSPort" binding="tns:AccountWSPortBinding">
<soap:address location="http://localhost:8080/RestaurantWebService/AccountWS"/>
</port>
</service>
</definitions>